node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# IDE - VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# IDE - IntelliJ/WebStorm
.idea/

# Production
.vercel
.netlify

# TypeScript
*.tsbuildinfo
